@model EmployeeManagement.ViewModels.DepartmentVM

@{
    ViewData["Title"] = "Edit Department";
}

<div class="card shadow-sm">

    <div class="card-header bg-warning">
        <h4 class="mb-0"><i class="fa-solid fa-pen-to-square me-2"></i> Edit Department</h4>
    </div>
    <div class="card-body">
        <form asp-action="Edit" method="post">
            <input asp-for="Id" type="hidden" />
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-warning"><i class="fa-solid fa-pen me-2"></i> Update</button>
            <a asp-action="Index" class="btn btn-secondary">Back</a>
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}